Package: com.slaviknychkalo.cache
Name: VKApp Cache
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 121
