Package: com.slaviknychkalo.vkdarkbar
Name: VK Dark Bar
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
