Package: com.yourcompany.rehosts
Name: ReHosts
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: System
Tag: role::hacker
