Package: com.slaviknychkalo.vsconew
Name: VSCOHackNew
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: slaviknychkalo
Author: slaviknychkalo
Section: Tweaks
Version: 0.0.1-5+debug
Installed-Size: 121
