Package: com.slaviknychkalo.infuse
Name: Infuse Hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-16+debug
Installed-Size: 124
