Package: com.slaviknychkalo.cydia
Name: Cydia Search Version
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-4+debug
Installed-Size: 117
