Package: com.slaviknychkalo.lazytoken
Name: LazyToken
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-7+debug
Installed-Size: 117
