Package: com.slaviknychkalo.vkaway
Name: VK Away Remover
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-8+debug
Installed-Size: 117
