Package: com.slaviknychkalo.instaauto
Name: Instagram Req AutoSub
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 104
