Package: com.slaviknychkalo.vpnmaster
Name: VPN Master Hack
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: VPN Master VIP Hack open VIP VPNs                                                                                
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
