Package: com.slaviknychkalo.vpnmaster
Name: VPN Master Hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: VPN Master VIP Hack open VIP VPNs                                                                                
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 117
