Package: com.slaviknychkalo.englishwithwords
Name: English With Words Hack
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: English With Words Hack
Maintainer: SLavikNychkalo
Author: SLavikNychkalo
Section: Tweaks
