Package: com.slaviknychkalo.glitchehack
Name: Glitche Hack
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychaklo
Author: SlavikNychaklo
Section: Tweaks
