Package: com.slavik.nychkalo.vktokenauth
Name: VK Token Auth
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-5+debug
Installed-Size: 117
