Package: com.slaviknychkalo.anon
Name: VK Anonimizer
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-16+debug
Installed-Size: 117
