<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Tweak settings</string>
		</dict>
		<dict>
			<key>cell</key>			<string>PSSwitchCell</string>
			<key>default</key>		<true/>
			<key>defaults</key>		<string>com.yourcompany.vktouchidprefs</string>
			<key>key</key>			<string>LockApplicationStart</string>
			<key>label</key>		<string>Lock application start</string>
		</dict>
		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Messages</string>
		</dict>
		<dict>
			<key>cell</key>			<string>PSSwitchCell</string>
			<key>default</key>		<true/>
			<key>defaults</key>		<string>com.yourcompany.vktouchidprefs</string>
			<key>key</key>			<string>LockMessageSend</string>
			<key>label</key>		<string>Lock message send</string>
		</dict>
		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Likes</string>
		</dict>
		<dict>
			<key>cell</key>			<string>PSSwitchCell</string>
			<key>default</key>		<true/>
			<key>defaults</key>		<string>com.yourcompany.vktouchidprefs</string>
			<key>key</key>			<string>LockLikes</string>
			<key>label</key>		<string>Lock Likes</string>
		</dict>
	</array>
	<key>title</key>	<string>VK Touch ID</string>
</dict>
</plist>
