Package: com.slaviknychkalo.privat
Name: Privat24h
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: slaviknychkalo
Author: slaviknychkalo
Section: Tweaks
