Package: com.slaviknychkalo.hot8
Name: Hot8 Hack
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
