Package: com.slaviknychkalo.vkvideourls
Name: VK Video URL
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-14+debug
Installed-Size: 120
